﻿.leftNav
{
	background-color:#FFF;
	width:120px;
	float:left;
	padding:20px;
	height:100%;
}
	.leftNav a
	{
		text-decoration:none;
		color:#00317e;
		display:inline-block;
		margin-bottom:10px;
		border-bottom:solid 1px #f3f3f3;
	}
.mainContent
{
	border-left:solid 1px #cacaca;
	background-color:#FFF;
	padding:10px;
	float:left;
	width:720px;
}
