﻿div.listContainer div
{
	position:relative;
	overflow:auto;
}

.groupListContainer {
	background-color:#99CAFF;
}
.prodListContainer {
	background-color:#FFB838;
}
[class$=ListContainer]
{
	position:relative;
	overflow:auto;
	margin:30px auto;
	box-shadow:2px 2px 4px rgba(0,0,0,.2) inset;
	/*background-color:#ffe199;*/
	border-radius:6px;
	padding:10px 5px;
}
	[class$=ListContainer] div.listCtrl
	{
		position:relative;
		overflow-y:auto;
		max-height:500px;
	}
	
		[class$=ListContainer] div.listCtrl div.Item,
        div.productDetails div.Item,
        div.groupDetails div.Item
		{
			overflow:auto;
			margin:8px 15px;
			padding:10px;
			background-color:#FFF;
			box-shadow:1px 1px 2px rgba(0,0,0,.4);
			border-radius:3px;
		}
		[class$=ListContainer] div.listCtrl div.Product
		{
			overflow:auto;
			margin:5px 15px;
			padding:5px 5px 5px 20px;
			background-color:#a0d0d3;
			box-shadow:1px 1px 2px rgba(0,0,0,.4);
			border-radius:3px;
		}
div.prodName
{
	font-size:18px;
	font-weight:bold;
	color:#3655CF;
	text-shadow:1px 1px 1px rgba(0,0,0,.2);
	overflow:auto;
	float:left;
}
	div.prodName a
	{
		text-decoration:none;
		font-size:18px;
		font-weight:bold;
		color:#3655CF;
		text-shadow:1px 1px 1px rgba(0,0,0,.2);
	}

div.prodNumber
{
	color:#9b2222;
	font-weight:bold;
	overflow:auto;
	float: right;
	text-shadow:1px 1px 1px rgba(0,0,0,.2);
}
div.prodDescription
{

	position:relative;
	overflow:auto;
	margin-left: 15px;
	margin-right: 15px;
}

div.prodHeading
{
	/*margin:8px 0px;*/
	font-size:18px;
	font-weight:bold;
	color:#ffa400;
	text-shadow:1px 1px 1px rgba(0,0,0,.2);
	overflow:auto;
}


.tableData {
    padding:5px 10px;
    position: relative;
    overflow: auto;
}
    .tableData .columnProdNum {
        width:19%;
        float:left;
    }
    .tableData .columnProdName {
        width:39%;
        float:left;
    }
    .tableData .columnProdQuantity {
        width:19%;
        float:left;
        text-align:center;
    }
    .tableData .columnProdUnit {
        width:19%;
        float:left;
        text-align:center;
    }

.tableHeader {
    border-radius:3px;
    padding:5px 10px;
    position: relative;
    overflow: auto;
    background-color:#022071;
    color:#FFF;
    font-weight:bold;
}
    .tableHeader .columnProdNum {
        width:19%;
        float:left;
    }
    .tableHeader .columnProdName {
        width:39%;
        float:left;
    }
    .tableHeader .columnProdQuantity {
        width:19%;
        float:left;
        text-align:center;
    }
    .tableHeader .columnProdUnit {
        width:19%;
        float:left;
        text-align:center;
    }