﻿
@using Utilities

@model BDProductCatalog

@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<div style="position:relative; overflow:auto;">
    <article>
        <p>
            Use this area to provide additional information.
        </p>

        <p>
            Use this area to provide additional information.
        </p>

        <p>
            Use this area to provide additional information.
        </p>
    </article>

    <aside>
        <h3>Aside Title</h3>
        <p>
            Use this area to provide additional information.
        </p>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
    </aside>
</div>
<div class="listContainer">
    <div class="listCtrl">
        @for (var i = 0; i < 110; i++)
        {
            <div class="Item">
                <div>
                    <div class="prodName">@Html.Raw(Model.Products[i]["Name"])</div>
                    <div class="prodNumber">@Html.Raw(Model.Products[i]["URL_Key"])</div>
                </div>
                <div class="prodDescription"><p>@Html.Raw(Model.Products[i]["Description"])</p></div>
            </div>
        
        }
    </div>
</div>


<div class="listContainer">
    <div class="listCtrl">
        @for (var i = 0; i < 110; i++)
        {
            <div class="Item">
                <div>
                    <div class="prodName">@Html.Raw(Model.Inserts[i]["AssociatedCatalogNumbers"])</div>
                    <div class="prodNumber">@Html.Raw(Model.Inserts[i]["PartNumber"])</div>
                </div>
 
                <div class="prodHeading">Intended Use</div>
                <div class="prodDescription"><p>@Html.Raw(Model.Inserts[i]["IntendedUse"])</p></div>
                <div class="prodHeading">Summary and Explanation</div>
                <div class="prodDescription"><p>@Html.Raw(Model.Inserts[i]["SummaryAndExplanation"])</p></div>
                <div class="prodHeading">Reagents</div>
                <div class="prodDescription"><p>@Html.Raw(Model.Inserts[i]["Reagents"])</p></div>
            </div>
        
        }
    </div>
</div>
