﻿@using DS_SiteData

@model List<ProductGroup>

    <div class="groupListContainer">
    <div class="listCtrl">
        @foreach (var item in Model)
        {
            <div class="Item">
                <div style="position:relative; overflow:auto;">
                    <div class="prodName"><a href="@Url.Action(item.UrlKey, "ProductCenter")">@Html.Raw(item.Name)</a></div>
                    <div class="prodNumber">@Html.Raw(item.WctKey)</div>
                </div>
                <div class="prodDescription"><p>@Html.Raw(item.ShortDesciption)</p></div>
            </div>
        }
    </div>
</div>
