﻿@using DS_SiteData

@model List<Product>

<div class="prodListContainer">

        <div class="tableHeader">
            <div class="columnProdNum">Catalog #</div>
            <div class="columnProdName">Description</div>
            <div class="columnProdUnit">Quantity</div>
            <div class="columnProdQuantity">Unit</div>
        </div>

    <div class="listCtrl">
        @foreach (var item in @Model)
        {
            <div class="tableData">
                <div class="columnProdNum"><a href="@Url.Action(item.CatalogNumber, "ProductCenter")">@Html.Raw(item.CatalogNumber)</a></div>
                <div class="columnProdName"><a href="@Url.Action(item.CatalogNumber, "ProductCenter")">@Html.Raw(item.Name)</a></div>
                <div class="columnProdQuantity">@Html.Raw(item.Quantity)</div>
                <div class="columnProdUnit">@Html.Raw(item.Unit)</div>
            </div>
        }
    </div>
</div>


