﻿@using DS_SiteData

@model List<ProductGroup>

@{
    ViewBag.Title = "Product Center";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<div style="position:relative; overflow:auto;">

</div>

<div class="groupListContainer">
    <div class="listCtrl">
        @foreach (var family in @Model)
        {
            <div class="Item">
                <div style="position:relative; overflow:auto;">
                    <div class="prodName">@Html.ActionLink(family.Name, family.UrlKey, "ProductCenter")</div>
                    <div class="prodNumber">@Html.Raw(family.WctKey)</div>
                </div>
                <div class="prodDescription"><p>@Html.Raw(family.LongDescription)</p></div>
            </div>
        }

        
    </div>
</div>


