﻿@using DS_SiteData

@model ProductGroup

@{
    ViewBag.Title = "Product Center";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>



<div class="groupDetails">

    <div class="Item">
        <div style="position:relative; overflow:auto;">
            <div class="prodName">@Html.Raw(Model.Name)</div>
            <div class="prodNumber">@Html.Raw(Model.WctKey)</div>
        </div>

        @if (Model.LongDescription.Length > 0)
        {
            <div style="position:relative; overflow:auto;">
                <div class="prodDescription"><p>@Html.Raw(Model.LongDescription)</p></div>
            </div>
        }
    </div>



@*<div style="position:relative; overflow:auto;">
    <h1>@Html.Raw(Model.Name)</h1>
    <p>@Html.Raw(Model.LongDescription)</p>
</div>
*@


@if(@Model.Children.Count > 0){
    Html.RenderPartial("_GroupList", Model.Children.ToList().OrderBy(a => a.ListPosition).ToList());
}

@if(Model.GroupProducts.Count > 0){
    Html.RenderPartial("_ProductList", Model.GroupProducts.ToList().OrderBy(a => a.CatalogNumber).ToList());
}

 

