﻿@using DS_SiteData

@model Product

@{
    ViewBag.Title = "Product Details";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div class="productDetails">

    <div class="Item">
        
        <div class="tableHeader">
            <div class="columnProdNum">Catalog #</div>
            <div class="columnProdName">Description</div>
            <div class="columnProdUnit">Quantity</div>
            <div class="columnProdQuantity">Unit</div>
        </div>
        <div class="tableData">
            <div class="columnProdNum">@Html.Raw(Model.CatalogNumber)</div>
            <div class="columnProdName">@Html.Raw(Model.Name)</div>
            <div class="columnProdQuantity">@Html.Raw(Model.Quantity)</div>
            <div class="columnProdUnit">@Html.Raw(Model.Unit)</div>
        </div>

        @if (Model.ProductInsert != null)
        {
            <div style="position:relative; overflow:auto;">
                @if (Model.ProductInsert.IntendedUse.Length > 0)
                {
                    <div class="prodHeading">Intended Use</div>
                    <div class="prodDescription"><p>@Html.Raw(Model.ProductInsert.IntendedUse)</p></div>
                }
                @if (Model.ProductInsert.Summary.Length > 0)
                {
                    <div class="prodHeading">Summary and Explanation</div>
                    <div class="prodDescription"><p>@Html.Raw(Model.ProductInsert.Summary)</p></div>
                }
                @if (Model.ProductInsert.Reagents.Length > 0)
                {
                    <div class="prodHeading">Reagents</div>
                    <div class="prodDescription"><p>@Html.Raw(Model.ProductInsert.Reagents)</p></div>
                }
                @if (Model.ProductInsert.Warnings.Length > 0)
                {
                    <div class="prodHeading">Warnings and Precautions</div>
                    <div class="prodDescription"><p>@Html.Raw(Model.ProductInsert.Warnings)</p></div>
                }
            </div>
        }
    </div>

</div>

